name: Static Analysis

on: [push, pull_request]

permissions:
  contents: read

jobs:
  CodeQL:
    permissions:
      contents: read
      security-events: write
    if: github.actor != 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Install dependencies
      run: |
        sudo apt-mark hold grub-efi-amd64-signed
        sudo apt update
        sudo apt upgrade
        sudo apt install libgrantlee5-dev qtbase5{,-doc}-dev qtconnectivity5-{dev,doc-html} qttools5-dev{,-tools}
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v4
      with:
        languages: cpp
    - name: Build
      run: |
        cmake -S "$GITHUB_WORKSPACE" -B "$RUNNER_TEMP"
        cmake --build "$RUNNER_TEMP"
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v4

  Cppcheck:
    runs-on: ubuntu-latest
    steps:
    - name: Install Cppcheck
      run: |
        sudo apt-mark hold grub-efi-amd64-signed
        sudo apt update
        sudo apt upgrade
        sudo apt install cppcheck
    - uses: actions/checkout@v6
    - name: Perform Cppcheck Analysis
      run: |
        cppcheck \
           --enable=all --error-exitcode=1 -Isrc --std={c++03,c++11} \
           --suppress={missingIncludeSystem,unusedFunction:test/unit/*} \
           --xml --xml-version=2 src test/unit 2> "$RUNNER_TEMP/cppcheck.xml"
    - name: Generate Report
      if: ${{ failure() }}
      run: |
        cppcheck-htmlreport --title=Doxlee --file="$RUNNER_TEMP/cppcheck.xml" \
          --report-dir="$RUNNER_TEMP/report" --source-dir="$GITHUB_WORKSPACE"
    - name: Upload Report
      if: ${{ failure() }}
      uses: actions/upload-artifact@v7
      with:
        name: Cppcheck HTML Report
        path: "${{ runner.temp }}/report"
